#toolbar{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  color: black;
  box-shadow: 0px 1px 3px #888888;
}#toolbar-left,#toolbar-right{
  display: inline-block;
  width: 50%;
}#toolbar-left{
  text-align: left;
  margin-left: 10px;
}#title{
  font-weight: bold;
  font-size: 18px;
}#toolbar-right{
  text-align: right;
  margin-right: 10px;
}#more{
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 25px;
}#more:active,#menu a:active{
  background-color: rgb(238,238,238);
}#menu{
  display: none;
  width: 250px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0px;
  box-sizing: border-box;
  box-shadow: 0 0 2px #888888;
  position: fixed;
  top: 58px;
  right: 5px;
}#menu a{
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0px 10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}#main{
  width: 100%;
  padding: 10px;
  margin-top: 60px;
  box-sizing: border-box;
  box-shadow: 0 0 2px #888888;
  word-wrap: break-word;
}#loading{
  width: 300px;
}