body{
   margin:0
}#header{
   width:100%;
   height:50px;
   background-color:white;
   color:black;
   box-shadow:0px 0.5px 1px #888888;
   box-sizing:content-box
}.title{
   display:inline-block;
   height:40px;
   line-height:40px;
   text-decoration:none;
   padding:5px 0;
   margin-left:5px
}.title *{
   vertical-align:middle
}.title span,#header button{
   color:#5f6368;
   font-size:22px
}#header button{
   width:46px;
   height:46px;
   line-height:46px;
   margin-top:2px;
   padding:0px;
   border:none;
   outline:none;
   background-color:white;
   border-radius:22px
}#header button:hover{
   background-color:rgba(0,0,0,0.05)
}#show-menu{
   margin-left:6px
}#show-good{
   float:right;
   margin-right:6px
}#menu{
   width:80%;
   height:100%;
   background-color:white;
   position:fixed;
   top:0;
   left:-80%;
   z-index:114
}#bg{
   z-index:514
}#menu .title{
   margin-left:15px
}#menu #links a{
   display:block;
   width:100%;
   height:50px;
   line-height:50px;
   background-color:white;
   color:black;
   font-size:15px;
   text-decoration:none;
   box-sizing:border-box;
   padding:0 10px
}#menu #links a:first-child{
   text-decoration:underline
}
